    .myImg {
        border-radius: 50%;
        width: 300px;
    }
    
    .body {
        background-color: black;
        color: white;
    }
    
    .headerIcons {
        color: white;
        padding-top: 3%;
    }