    .myImg {
        border-radius: 50%;
        width: 300px;
    }
    
    .body {
        background-color: rgb(32, 27, 27);
        color: white;
    }
    
    .headerIcons {
        color: white;
        padding-top: 3%;
    }
    
    .projectsection {
        height: 220px;
        margin-bottom: 4%;
    }
    
    .projects {
        padding: 3%;
        color: black;
        border-radius: 8%;
        height: auto;
    }
    
    .projects:hover {
        background-color: rgb(32, 27, 27);
        color: white;
        height: 125%;
    }

    @media only screen and (min-width: 320px) and (max-width: 479px) {
        .projectsection{
            height: 300px;
        }
        }